:root {
    --font-texto: 'Belleza', sans-serif;
    --font-nome-casal: 'Great Vibes', cursive;
    --color-fundo: #e6e6e6;
    
}
* {
    margin: 0;
    padding: 0;
}

.content {
    position: relative;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 10px solid  #97d5b1;
    background-color: var(--color-fundo);
}

.convite {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-eucalipto {
    width: 120px;
    position: absolute;
    left: 20%;
    top: 16%;
    margin-left: -110px;
    margin-top: -40px;
    transform: rotate(33deg);
}

.img-eucalipto-segundo {
    width: 102px;
    position: absolute;
    left: 104%;
    top: 45%;
    margin-left: -110px;
    margin-top: -20px;
    transform: rotate(212deg);
}

.convite-versiculo {
    font-family: var(--font-texto);
    font-size: 1em;
    text-align: center;
    margin: 3vh;
}
.img {
    z-index: 1;
}

.img-casal {
    width: 160px;
    border-radius: 50%;
    height: 160px;
    z-index: 1;
}

.nome-casal {
    font-family: var(--font-nome-casal);
    font-size: 45px;
    font-style: italic;
    font-weight: 600;
}

.texto-convite {
    font-family: var(--font-texto);
    font-size: 16px;
    text-align: center;
    margin: 1vh;
    z-index: 1;
}

.data-evento {
    display: flex;
    font-family: var(--font-texto);
    z-index: 1;
}

.dia {
    padding: 1vh;
    font-size: 25px;
    z-index: 1;
}

.mes-ano, .dia-semana{
    border-left: 1px solid black;
    padding: 1vh;
    z-index: 1;
}

.local-evento {
    margin: 2vh;
    text-align: center;
    z-index: 1;
}

.local-evento p {
    margin: 0;
    font-family: var(--font-texto);
    font-size: 16px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1.5vh;
    text-decoration: none;
    color: black;
    font-family: var(--font-texto);
    font-size: 16px;
}

.icone {
    width: 35px;
}
